<!DOCTYPE html>
<html ng-app='feedModule'>
<head>
    <meta name="viewport" content="width=device-width, user-scalable=no">
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular-resource.min.js"></script>
    <script src="angular-masonry.js"></script>	
    <script src="feeds.js"></script>
    <script src="libs.js"></script>  
    <link href="main.css" rel='stylesheet' type='text/css' >
</head>
 
<body ng-controller='FeedCtrl'>
 
<div class="wrap">
	<div class="element" ng-repeat="feed in article | orderBy : '-publishedDate' ">
        <a href="{{feed.link}}" target="_blank">{{feed.title}}</a><br />
        <small ng-repeat="cat in feed.categories">Categories: {{cat}}</small>
        <p>{{feed.author}}</p>
        <p>{{feed.content}}</p>
        <small>{{feed.publishedDate | date : 'EEEE, d MMMM yyyy'}}</small>
    </div>
</div>
</body>
</html>