<!DOCTYPE html>
<html ng-app='feedModule'>
<head>
    <meta name="viewport" content="width=device-width, user-scalable=no">
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular-resource.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
    <script src="feeds.js"></script>
    <script src="libs.js"></script>  
    <link href="main.css" rel='stylesheet' type='text/css' >
</head>
 
<body ng-controller='FeedCtrl'>
 
<div class="wrap">
    <span id="clock"></span>
	<div class="element" ng-repeat="feed in article | orderBy : '-publishedDate' ">
        <a href="{{feed.link}}" target="_blank">
            <h4 class="title">{{feed.title}}</h4>
            <small class="cat">{{feed.source}}</small><br />
            <small class="cat" ng-repeat="cat in feed.categories">Categories: {{cat}}</small>
            <h5 class="content">{{feed.content}}</h5>
            <p class="author">{{feed.author}}</p>
            <small class="cat">{{feed.publishedDate | date : 'EEEE, d MMMM yyyy'}}</small>
        </a>
    </div>
</div>

<div style="position:fixed; bottom:-28px; left:0px;">
    <!-- google code -->
    <div id="google_translate_element"></div><script type="text/javascript">
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.VERTICAL}, 'google_translate_element');
    }
    </script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</div>

<script src="polar-clock.js"></script>
</body> 
</html>